<div class="container p-5">
    <h1>All Missions</h1>
    {%  for mission in mission %}
        <span class="badge badge-secondary">{{ mission.codeName }}</span>
        <div class="jumbotron">
            <h1 class="display-4">Operation {{ mission.title }}</h1>
            <p class="lead">{{ mission.description }}</p>
            <hr class="my-4">
            <p>Start on {{ mission.dateStart | date('d/m/Y') }} to  {{ mission.dateEnd | date('d/m/Y') }}</p>
            <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseDetails"
                    aria-expanded="false" aria-controls="collapseDetails">
                Learn More
            </button>
            <div class="collapse" id="collapseDetails">
                <div class="card card-body">

                </div>
            </div>
        </div>
    {% endfor %}
</div>